{% extends "base.html" %}

{% block head_title %}Resume App{% endblock %}


{% block content %}
  <h1>{{ title }}</h1>
  <form action="" method="post" name="form_resumo">
      {{ form.hidden_tag() }}
      <p>
          Please enter your text:<br>
          {{ form.texto(rows=15, cols=70) }}<br>

          {% for error in form.texto.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>

      </p>

      {% if rc.texto_resumido %}

      Texto Resumido:<br/>
        <textarea cols="70" rows="15" name="txt_resumo">{{ rc.texto_resumido }}</textarea>
      {% endif %}

      <p><input type="submit" value="go"></p>
  </form>

<script type="text/javascript">
  document.write("tamanho original: " + document.form_resumo.texto.value.length);
  document.write("<br>");
  document.write("tamanho resumido: " + document.form_resumo.txt_resumo.value.length);
</script>

{% endblock %}

