{% extends "base.html" %}

{% block head_title %}Summarizer App{% endblock %}


{% block content %}
  <h1>{{ title }}</h1>
  <form id="form_resumo" name="form_resumo">
      <!-- {{ form.hidden_tag() }} -->
      <p>
          Please enter your text:
          | <a href="javascript:insertSampleText(0)">Sample 1</a>
          | <a href="javascript:insertSampleText(1)">Sample 2</a>
          | <a href="javascript:insertSampleText(2)">Sample 3</a>
          | <a href="javascript:insertSampleText(3)">Sample 4</a>
          | <a href="javascript:insertSampleText(4)">Sample 5</a>
          |<br>
          {{ form.article(rows=15, cols=70) }}<br>

          {% for error in form.article.errors %}
            <span style="color: red;" class="alert alert-danger">[{{ error }}]</span>
          {% endfor %}<br>

      </p>

            {{ form.algorithm.label }}: {{ form.algorithm(class="form-control") }}

      <br/>
      <br/>

      <div class="btn-group">
        <button type="button" class="btn btn-default" id="btnGo">Go</button>
      </div>

      <p>


      <br/>
      Texto Resumido:<br/>
      <div name="txt_resumo" id="div_resumo" style="background-color: azure; width: max-content"></div>

  </form>

<!-- <script type="text/javascript">
  function comparaStrings(){
      document.write("tamanho original: " + document.form_resumo.texto.value.length);
      document.write("<br>");
      document.write("tamanho resumido: " + document.form_resumo.txt_resumo.value.length);
  }

  comparaStrings();
</script> -->
{% endblock %}

