{% extends "base.html" %}

{% block head_title %}Summarizer App{% endblock %}


{% block content %}
  <h1>{{ title }}</h1>
  <form action="" method="post" id="form_resumo" name="form_resumo">
      {{ form.hidden_tag() }}
      <p>
          Please enter your text:<br>
          {{ form.texto(rows=15, cols=70) }}<br>

          {% for error in form.texto.errors %}
            <span style="color: red;" class="alert alert-danger">[{{ error }}]</span>
          {% endfor %}<br>

      </p>
      <div class="btn-group">
        <button type="submit" class="btn btn-default">Go</button>
        <button type="button" class="btn btn-default" id="btnAjax">Go with AJAX</button>
      </div>

      <p>

      <br/>
      Texto Resumido:<br/>
      <textarea cols="70" rows="15" name="txt_resumo" id="txt_resumo">{% if rc.texto_resumido %}{{ rc.texto_resumido }}{% endif %}</textarea>

  </form>

<script type="text/javascript">
  function comparaStrings(){
      document.write("tamanho original: " + document.form_resumo.texto.value.length);
      document.write("<br>");
      document.write("tamanho resumido: " + document.form_resumo.txt_resumo.value.length);
  }

  comparaStrings();
</script>

{% endblock %}

