{% extends "base.html" %}

{% block head_title %}Resume App{% endblock %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>{{ title }}</h1>
        <p>
          fffff
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
            {{ user.nickname }}!
        </div>
      </div>
    </div>
{% endblock %}
